body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #281C26;
    color: #F55951;
}
#title{
    width: 100%;
    text-align: center;
    margin-top: 30vh;
    font-size: 4rem;
}
.button{
    color:#F55951;
    font-size: 2rem;
    padding: 1rem 2rem;
    border: 3px #F55951 solid;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
}
.button:hover{
    color:#EDD2CB;
    background-color: #F55951;
}

.play_btn{
    position: absolute;    
    text-decoration: none;
    top:50%;
    left: 50%;
    transform: translate(-50%);
}


.TurnMsg{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-5%);
}

.board{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3,auto);
}

.cell{
    position: relative;
    height: 20vh;
    width: 20vh;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell.xCell::before,
.cell.xCell::after{
    content: '';
    position: absolute;
    width: 2vh;
    height: 20vh;
    border-radius: 10px;
    background-color: #fff;
}
.cell.xCell::before{
    transform: rotate(45deg);
}

.cell.xCell::after{
    transform: rotate(-45deg);
}

.cell.circleCell::before,
.cell.circleCell::after{
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circleCell::before{
    width: 17vh;
    height: 17vh;
    background-color: #fff; 
}

.cell.circleCell::after{
    width: 14vh;
    height: 14vh;
    background-color: #281C26;   
}


.FinalMsgContainer{
    font-size: 3rem;
    position: fixed;
    display: none;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

@media(max-width: 500px){
    .cell{
        width: 20vw;
        height: 20vw;
    }
    .cell.xCell::before,
    .cell.xCell::after{
        width: 2vw;
        height: 20vw;
    }
    .cell.circleCell::before{
        width: 17vw;
        height: 17vw;
    }
    .cell.cell.circleCell::after{
        width: 14vw;
        height: 14vw;
    }

}