*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
    width: 100vw;
    height: 70vh;
    margin: 15vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffd5cd;
    color: #1a1c20;
}

.button{
    padding: 1rem 2rem;
    margin: 1rem;
    border: 3px solid #1a1c20;
    cursor: pointer;
    border-radius: 1rem;
    transition: 1s;
}
.button:hover{
    background-color: #f9813a;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.HiLoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.hide{
    display: none;
}