*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #272728;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
h1{
    font-size: 6vw;
}
h2{
    font-size: 3vw;
}
a{
    text-decoration: none;
}

header{
    display: flex;
    top:0;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    min-height: 10vh;
    padding: 0 5vw;
    width: 100vw;
    background-color: rgba(242, 214, 87, 0.7);
    z-index: 2;
    transition: 1s;
}
.nav_links{
    display: flex;
    list-style-type: none;
}

.nav_links li{
    margin-left: 2vw;
    transition: 0.5s;
}

.nav_links li:hover{
    transform: scale(1.1);
}


.name_section{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(70, 70, 70, 0.5), rgba(70, 70, 70, 0.5)),url(Photos/camera_wallpaper.jpg) center;
    background-size: cover;
}


.name{
    text-transform: uppercase;
    color: #F2D657;
    margin-right: 10vw;
}
.job{
    width: 90vw;
    text-align: end;
    background-color: #F2D657;
    padding: 1rem;
    margin-right:10vw;
    margin-bottom:20vh;
    margin-top: 1rem;
    border-radius: 0 0.5rem 0.5rem 0;
}

.profile_section{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}
.side_photo{
    width: 40vw;
    height: 100vh;
    background: url(Photos/person_photo_blackwhite.jpg) center no-repeat;
    size: cover;
}
.profile{
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    width: 60vw;
    height: 100vh;
    background-color: #F2D657;
}
.profile h2{
    text-transform: uppercase;
    background-color: #fff;
    padding: 1rem;
    margin-left: 10vw;
    border-radius: 0.5rem 0 0 0.5rem;
}
.profile p{
    margin-top: 1rem;
    margin-left: 10vw;
    width: 30vw;
}
.project_section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.project_section h1{
    display: grid;
    width: 100vw;
    height: 20%;
    text-transform: uppercase;
    place-items: center;
    background-color: #F2D657;
}
.projects{
    display: flex;
    width: 100vw;
    height:80%;
    align-items: center;
    justify-content: space-around;
    background-color: #1f1f1f;
}
.project{
    position: relative;
    width: 20vw;
    height: 50vh;
}
.bulina{
    position: absolute;
    left: 50%;
    height: 10vw;
    width: 10vw;
    background-color: #F2D657;
    border-radius: 50%;
    transform: translateX(-50%);
}
.description{
    display: grid;
    align-items: center;
    width: 100%;
    height: 80%;
    padding: 2vw;
    margin-top: 5vw;
    background-color: #fff;
}

.contact_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(37, 37, 37, 0.5), rgba(31, 31, 31, 0.5)),url(Photos/city_wallpaper.jpg) center;
    background-size: cover;
}
.contact_section h2{
    width: 40vw;
    text-align: right;
    text-transform: uppercase;
    background-color: #F2D657;
    padding: 1rem;
    border-radius: 0 0.5rem 0.5rem 0;
}
.contact_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    width: 40vw;
    padding-right: 5vw;
}
@media(max-width:500px){
    h1{
        font-size: 8vw;
    }
    h2{
        font-size: 6vw;
    }
    header{
        justify-content: center;
    }
    .project_section{
        height: 200vh;
    }
    .projects{
        height: 90%;
        flex-direction: column;
    }
    .bulina{
        width: 10vh;
        height: 10vh;
    }
    .project_section h1{
        height: 10%;
    }
    .project{
        width: 80vw;
    }
    .contact_section{
        flex-direction: column;
        justify-content: space-around;
    }
    .contact_section h2{
        width: 60vw;
        border-radius: 0.5rem;
        text-align: center;
    }
    .contact_form{
        height: 40vh;
    }    
    .line{
        width: 30px;
        height: 2px;
        background: #272728;
        margin: 5px;
        transition: 0.5s;
    }
    .hamburger{
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translate(-5%,-50%);
        z-index: 3;
    }
    .nav_links{
        text-align: center;
        position: fixed;
        flex-direction: column;
        justify-content: space-around;
        top: 0;
        right: -30vw;
        width: 30vw;
        height: 70vh;
        padding-top: 10vh;
        background-color: #1f1f1f;
        border-radius: 20% 0 0 20%;
        transition: 1s;
    }
    .nav_links a{
        color: #fff;
    }
}

.visible{
    right: 0;
}
.yellow{
    color: #F2D657;
}
.white{
    color: #fff;
}
.whitebg{
    background: #fff;
}

.change .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.change .line2{
    opacity: 0;
}

.change .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}